
a {
 color: white;
 font-weight: 200;
 font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}

.kmymetro {
 background: #292929;
 font-weight: 200;
 color: white;
 font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
}

