<?xml version="1.0" encoding="utf-8"?>


<!-- 

 
 Copyright (c) 2011 Adam Allen, 
 All Rights Reserved, including the right to allow you 
 to use the software in accordance with the GPL Licence (v3)

   
    This file is part of brewerspad.

    Brewerspad is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Brewerspad is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Brewerspad.  If not, see <http://www.gnu.org/licenses/>.
    
 $Revision: 1.24 $ $Date: 2011-11-03 21:51:24 $ $Author: codemonkey $

-->



<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="brewerspad.asduk.com"
      android:installLocation="preferExternal"      
      android:versionCode="1"
      android:versionName="0.1.30">  
    <uses-sdk android:minSdkVersion="8" />
    
	

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".welcome"
            	  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                  android:label="@string/app_name">
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>            
    			 <data android:scheme="com.asduk.brewerspad" />
    			 <action android:name="android.intent.action.VIEW" />
    			 <category android:name="android.intent.category.DEFAULT" />
    			 <category android:name="android.intent.category.BROWSABLE" /> 
            </intent-filter>
        </activity>
        
        
        <activity android:name="brewday"           
                  android:label="@string/app_name">
        </activity>
        
            
		<!--  only required for phone -->
        <activity android:name="brewdayphone2"
                  android:label="@string/app_name">
        </activity>
        

        
        <activity android:name=".downloadlist"
                  android:label="@string/app_name">
        </activity>                


            
        <activity android:name=".recipe"
            	android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                  android:label="@string/app_name"
                  >
        </activity>                

        <!--  phone only -->
		<activity android:name=".recipe2"
            	android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                  android:label="@string/app_name"
                  >
        </activity>                
        
                
                
        <activity android:name=".stores"
                  android:label="@string/app_name"
                  >
        </activity>                                
        <!--  only required for phone -->
                <activity android:name=".welcome2"                  
                  android:label="@string/app_name">
        </activity>                

		<activity android:name=".welcome3"
                  android:label="@string/app_name">
        </activity>                
                    
                                        
                                        
        <activity android:name=".stores2"
                  android:label="@string/app_name">
        </activity>                
        <activity android:name=".stores3"
                  android:label="@string/app_name">
        </activity>                
        <activity android:name=".storepurchase"
        	      android:label="Purchase" android:theme="@android:style/Theme.Dialog">                 
        </activity>                           
                
        <activity android:name=".outofstockwarning"
                   android:theme="@android:style/Theme.Dialog"
                  android:label="Stock Warning">
        </activity>             

        
                        
        <activity android:name=".tools"
                   android:theme="@android:style/Theme.Dialog"
                  android:label="Tools">
        </activity>             
        
        <activity android:name=".widgetfields"
                   android:theme="@android:style/Theme.Dialog"
                  android:label="Widgets and Fields">
        </activity>                


		<activity android:name=".webviewer"
                   android:theme="@android:style/Theme.Dialog"
                  android:label="" 
                  >
        </activity>                
            
                        		    
	    <!--  Preferences -->
	    <activity android:name=".prefs"
      			android:label="Preferences">
		</activity>
	    
	        <!--  About Screen -->
	    <activity android:name=".debugxmlrpc"
	    	android:label="Debug" android:theme="@android:style/Theme.Dialog">
		</activity>
		
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
        	 
</manifest>